* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Mulish", sans-serif;
}

body {
  max-width: 1200px;
  margin: 0 auto;
}

.prime-color {
  color: #ff5400;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 52px 100px;
}

.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo h2 {
  padding-left: 15px;
}

.nav-logo img {
  width: 48px;
  height: 56.008px;
}

.nav-menu>ul {
  display: flex;
}

.nav-menu li {
  list-style: none;
  margin-left: 20px;
}

.nav-menu a {
  text-decoration: none;
}

/* header styles end */



/*  */
.banner-section {
  width: 1170px;
  height: 500px;
  background-repeat: no-repeat;
  background-image: linear-gradient(180deg, #252525 0%, rgba(7, 2, 17, 0) 100%),
    url(../Images/banner-1.png);
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  justify-content: center;
  align-items: center;
}

.banner-section h2 {
  color: #FFF;
  font-size: 64px;
  font-weight: 800;
}

.banner-section p {
  color: #FFF;

  text-align: center;
  font-size: 16px;
  width: 75%;
}

.banner-selected-menu {
  margin-top: 100px;
  background-color: rgba(255, 255, 255, 0.30);
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  border-radius: 8px;
  align-items: center;
  padding: 0 20px;
}

.banner-selected-text {
  border-radius: 8px;
  background: #FFF;
  width: 150px;
  padding: 13px 10px;
}

.banner-selected-menu select {
  background-color: #fff;
  width: 150px;
}

.findBtn {
  border-radius: 8px;
  background: #FF5400;
  display: flex;
  align-items: center;
  gap: 10px;
  width: 150px;
  padding: 13px 10px;
  border: none;
  color: white;
}



.banner-button i {
  padding: 10px;
}

.banner-3 {
  margin: 50px 0px;
  display: flex;
  gap: 20px;
  align-items: center;
}

.banner-3-title {
  color: #131318;
  font-weight: 800;
}

.banner-3-desc {
  margin: 20px 0px;
  color: rgba(19, 19, 24, 0.7);
}
.main-nav{
  margin: 0 20px;
}
.main-nav li p {
  color: rgba(19, 19, 24, 0.7);
}

.banner-3-desc1 {
  color: #5a5a5d;
}

.btn-primary {
  width: 174px;
  height: 52px;
  margin-top: 32px;
  border-radius: 8px;
  background: #ff5400;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  border: none;
  cursor: pointer;
}

/* Destination Section Styles */

.destination-description h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;

  font-weight: 800;

  margin-top: 100px;
}

.destination-description p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  margin: 0 auto;
  width: 80%;
}

.destination-section-img {
  margin-top: 48px;
}


.img-box,
.img-box-2,
.img-box-3 {
  display: flex;
  gap: 24px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
}

.img-box-2 {
  margin-top: 24px;
}

.img-box-3 {
  margin-top: 24px;
}

.img-box img {
  border-radius: 16px;
  background: linear-gradient(0deg,
      rgba(19, 19, 24, 0.2) 0%,
      rgba(19, 19, 24, 0.2) 100%),
    url(<path-to-image>), lightgray 50% / cover no-repeat;
  width: 573px;
  height: 300px;
  flex-shrink: 0;
}

/*  Choose Us Section styles */
.choose-us-section {
  margin-top: 100px;
}

.choose-us-section h2 {
  color: #131318;
  text-align: center;
  font-family: Mulish;
  font-size: 40px;

  font-weight: 800;

  padding-bottom: 24px;
}

.choose-us-section p {
  width: 70%;
  margin: 0 auto;
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
}

.choose-card-sec-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 48px;
  margin-bottom: 24px;
  gap: 24px;
}

.card-sec-1 {
  width: 573px;
  height: 284px;

  border-radius: 16px;
  border: 1px solid rgba(251, 181, 99, 0.2);
  background: rgba(251, 181, 99, 0.05);
  padding-top: 32px;
  padding-left: 32px;
}

.card-sec-1 h2 {
  margin-top: 25px;
  padding-bottom: 10px;
}

.card-sec-2 {
  width: 573px;
  height: 284px;

  border-radius: 16px;
  border: 1px solid rgba(41, 206, 246, 0.2);
  background: rgba(41, 206, 246, 0.05);
  padding-top: 32px;
  padding-left: 32px;
}

.card-sec-2 h2 {
  margin-top: 25px;
  padding-bottom: 10px;
}

.card-sec-3 {
  width: 573px;
  height: 284px;
  margin-top: 24px;
  border-radius: 16px;
  border: 1px solid rgba(233, 68, 68, 0.2);
  background: rgba(233, 68, 68, 0.05);
  padding-top: 32px;
  padding-left: 32px;
}

.card-sec-3 h2 {
  margin-top: 25px;
  padding-bottom: 10px;
}

.card-sec-1 img,
.card-sec-2 img,
.card-sec-3 img {
  width: 64px;
  height: 64px;
  padding-top: 32px;
  padding-left: 32px;
}

/*  Choose Us Section styles end */

/* Deals & Discounts section style */
.discounts-title {
  margin-top: 100px;
}

.discounts-title h2 {
  color: #131318;
  text-align: center;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 24px;
}

.discounts-title p {
  color: rgba(19, 19, 24, 0.7);
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.discount-banner-1 {
  width: 579px;
  height: 389px;

  border-radius: 16px;
  border: 2px solid #fff;
  background-image: url(../Images/Group\ 39.png);
  background: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2.5px);
}

/* Deals & Discounts section style end*/

/* banner-7 style */
.banner-7 {
  margin: 50px 0;
  display: flex;
  gap: 35px;
  justify-content: center;
  align-items: center;
}


.banner-7-container h2 {
  width: px;
  color: #131318;

  font-size: 40px;

  font-weight: 800;
  line-height: 60px;
}

.banner-7-container p {
  color: #5a5a5d;
  margin-top: 24px;
  /* 162.5% */
}
.banner-7-description{
  margin: 0px 30px;
}
.banner-7-video video {
  width: 610px;
  height: 424px;
  border-radius: 16px;
  background: linear-gradient(180deg,
      #131318 -31.96%,
      rgba(19, 19, 24, 0) 100%);
}

/*  Newsletter Section style */
.newsletter-section {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.subscribe-section {
  width: 474px;
  height: 422px;
  border-radius: 16px;
  border: 1px solid #ff5400;
  padding-left: 35px;
}

.subscribe-section h2 {
  color: #131318;
  font-size: 24px;
  font-weight: 800;
  margin-top: 30px;
  margin-bottom: 10px;
}

.subscribe-section p {
  width: 350px;
  color: #5a5a5d;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.text-1,
select {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 20px;

  border: none;
  box-sizing: border-box;
  padding-left: 10px;
}

.email-1,
select {
  width: 393px;
  height: 52px;
  border-radius: 8px;
  background: rgba(19, 19, 24, 0.05);
  margin-top: 20px;
  margin-bottom: 16px;
  border: none;
  box-sizing: border-box;
  padding-left: 10px;
}

.btn {
  width: 393px;
  height: 52px;

  border: none;
  box-sizing: border-box;
  cursor: pointer;
  border-radius: 8px;
  background: #ff5400;
}

.subscribe-section .btn {
  color: #fff;
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  margin-top: 10px;
}

.newsletter-banner {
  position: relative;
}

.rotate {
  transform: rotate(-18.63deg);
  width: 300px;
  height: 120px;
  border-radius: 16px;

  background: #ff5400;
  text-align: center;
  align-items: center;
  padding-top: 20px;

  position: absolute;
  bottom: 45px;
  right: 8px;
}

/*  Newsletter Section style end */

/* footer section style */
footer {
  width: 100%;
  height: 502px;
  background: rgba(19, 19, 24, 0.05);
  margin: 0 auto;
}

.footer-container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 110px;
}

.footer-container-1 img {
  width: 40px;
  height: 46px;
}

.footer-container-1 h2 {
  color: #131318;
  font-size: 32px;
  font-weight: 800;
}

.travel-color {
  color: #ff5400;
  font-size: 32px;
  font-weight: 800;
}

.footer-description p {
  color: #5a5a5d;
  text-align: center;
  margin-top: 15px;
}

.footer-container-2 {
  width: 174px;

  margin: 0 auto;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 33px;
}

.social-icons a {
  text-decoration: none;
  padding: 10px;

  margin: 10px;
  border-radius: 50%;
}

.social-icons a i {
  font-size: 2em;

  opacity: 0.9;
}

/* hover effects on social media icons */
.social-icons a:hover {
  transition: 0.5s;
}

.social-icons a:hover i {
  color: rgb(117, 76, 76);
  transition: 0.5s;
}

.footer-bottom {
  text-align: center;
}

.footer-title {
  color: #131318;
  font-size: 16px;
  font-weight: 300;
}

.horizontal-line {
  width: 872px;
  height: 1px;
  background: rgba(19, 19, 24, 0.1);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 284px;
}

/* re */
@media screen and (max-width: 570px) {
  .banner-section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
  }

  .banner-section h2 {
    font-size: 35px;
    text-align: center;
  }

  .banner-section p {
    width: 80%;
  }

  .banner-selected-menu {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 4px;
  }

  .banner-selected-text {
    width: 300px;
    margin-top: 20px;
  }

  .banner-selected-menu select {
    width: 300px;
  }

  .findBtn {
    width: 300px;
    margin-bottom: 20px;
  }

  .img-box,
  .img-box-2,
  .img-box-3 {
    display: block;
    margin: 0 20px;
  }
  .img-box img,
  .img-box-2 img,
  .img-box-3 img {
    width: 100%;
    height: 250px;
    margin-top: 15px;
  }
  .choose-card-sec-1 {
    display: block;
    margin: 0 20px;

  }
  .card-sec-1 , .card-sec-2 , .card-sec-3{
    width: 100%;
    margin-top: 24px;
  }
  .card-sec-3{
    margin: 24px 20px;
    width: 100%;
  }
  .banner-7 {
    margin: 0px 20px;
    display: block;
  }
  .banner-3 {
    margin: 50px 20px;
    display: block;
  }
  .banner-3-img-sec img{
    width: 100%;
    margin-top: 20px;
  }
  .newsletter-section{
    display: block;
    margin: 100px 20px;
  }
  .subscribe-section{
    margin: 20px 0px;
  }
  .subscribe-section {
    width: 100%;
    height: 422px;
  }
  .newsletter-banner-img{
    width: 100%;
  }
  .banner-7-video video {
    margin-top: 20px;
    width: 100%;
    height: 250px;

}

@media screen and (min-width: 571px) and (max-width: 940px) {
  .banner-section {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .banner-section h2 {
    font-size: 35px;
    text-align: center;
  }

  .banner-section p {
    width: 80%;
  }

  .banner-selected-menu {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
  }

  .banner-selected-text {
    width: 250px;
    margin-top: 20px;
  }

  .banner-selected-menu select {
    width: 250px;
  }

  .findBtn {
    width: 250px;
    margin-bottom: 20px;
  }

}